.hero {
  text-align: center;
  padding: 90px 20px;
  color: white;
}

.glass {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 0 18px rgba(0,0,0,0.35);
  display: inline-block;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 22px;
  opacity: 0.9;
  margin-bottom: 30px;
}

.btn {
  padding: 14px 28px;
  background: rgba(255,255,255,0.25);
  border-radius: 14px;
  color: black;
  font-weight: bold;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.btn:hover {
  background: rgba(255,255,255,0.5);
  transform: scale(1.05);
}


/* Products Grid */
.products-container {
  padding: 40px;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 25px;
}

.card {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

/* Product Details */
.details-container {
  padding: 40px;
  text-align: center;
  color: white;
}

.details-img {
  width: 350px;
  border-radius: 18px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.desc {
  margin-top: 20px;
  font-size: 18px;
}

.buy-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 14px 30px;
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(14px);
  border-radius: 18px;
  font-weight: bold;
  color: black;
  transition: .3s;
}

.buy-btn:hover {
  transform: scale(1.07);
}
